:root {
    --swiper-pagination-color: #0033ff;
    --swiper-pagination-bullet-inactive-color: #fff;
}

.oddodd {
    font-family: 'Comfortaa', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.05rem;
    color: #fff;
    strong {
        display: inline;
        font-weight: 700;
    }
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
