:root {
    --swiper-pagination-color: #0033ff;
    --swiper-pagination-bullet-inactive-color: #fff;
}

.oddodd {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    letter-spacing: -0.05rem;
    strong {
        display: inline;
        font-weight: 700;
    }
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

// btn
.btn-group {
    display: flex;
    gap: 10px;
    .btn-g {
        flex: 1;
    }
}
.btn-g {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: clamp(17px, 2vw, 20px);
    width: fit-content;
    min-height: 64px;
    margin: 0 auto;
    padding: 0 40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}
.btn-primary {
    background-color: $primary;
    color: $white;
}
.btn-outline {
    background: $white;
    border: 1px solid $gray-500;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    // border-bottom: 1px solid #e0e0e0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        a {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            font-family: 'Comfortaa', sans-serif;
            font-weight: 300;
            font-size: 30px;
            letter-spacing: -0.05rem;
            strong {
                font-weight: 700;
            }
        }
    }

    #gnb {
        display: flex;
        justify-content: center;
        padding: 37px 0;

        .main_menu {
            float: left;
            text-align: center;
            padding: 0 20px;
            position: relative;

            > a {
                font-size: 18px;
                color: #222;
                font-weight: 500;
            }
        }
    }
    &.fixed #gnb .main_menu > a,
    &.white #gnb .main_menu > a {
        color: #fff;
    }

    #gnb .main_menu {
        > :first-child a {
            margin-left: 0px;
        }

        ul {
            display: none;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            border-radius: 15px;
            top: 85px;
            left: 50%;
            transform: translateX(-50%);
            width: 174px;
            padding: 20px 10px;
            background: #fff5e7;
            transition: all 0.4s ease-out;
            transition-property: opacity, top, visibility;
            transition-delay: 0s, 0s, 0s;

            &.active {
                display: block;
                transition-delay: 0.1s;
            }
        }

        &.active ul {
            opacity: 1;
            visibility: visible;
            top: 40px;
            z-index: 10;
            transition-delay: 0s, 0s, 0s;
        }

        ul > li > a {
            display: inline-block;
            font-family: 'Noto Sans KR', sans-serif;
            color: #615954;
            font-size: 16px;
            position: relative;
            transition: all 0.3s ease 0s;
            height: 40px;
            line-height: 40px;
            font-weight: 400;
            letter-spacing: -0.02em;

            &:hover {
                color: #e18317;
                font-weight: 500;
            }
        }
    }
}

.video-overlay {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(16, 23, 45, 0.9), rgba(16, 23, 45, 0.2) 23%, #16244b),
        url(../main/bg_pattern.webp);
    background-position: 0 0, 0 0;
    background-size: auto, 2px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.video-background {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    color: #fff;
    > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -100;
        background-position: 50%;
        background-size: cover;
        margin: auto;
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
    }
}

.video-header {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    min-height: 900px;
    justify-content: center;
    align-items: center;
    padding: 48px;
    display: flex;
    position: relative;
    transform-origin: 50% 80%;
}
.sec_slide {
    position: relative;
    z-index: 3;
    .swiper-slide {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            max-width: 1200px;
            height: 600px;
            margin: 0 auto;
        }
        strong {
            display: flex;
            align-items: flex-end;
            font-size: 85px;
            opacity: 0;
            color: white;
        }
        .dot {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: $primary;
            border-radius: 50%;
            transform: translate(20px, -20px);
        }
        p {
            margin-top: 20px;
            font-size: 22px;
            opacity: 0;
            color: white;
        }
        &.swiper-slide-active {
            strong {
                animation: fadeInUp 0.7s 0.3s ease-in-out forwards;
            }
            p {
                animation: fadeIn 0.5s 0.5s ease-in-out forwards;
            }
        }
    }
    .indicator {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, 130px);
        max-width: 1200px;
        width: 100%;
        height: 25px;
        margin: 0 auto;
    }
    .swiper-pagination {
        position: static;
        width: auto;
        margin-right: 20px;
    }
    .swiper-button {
        position: static;
        transform: scale(0.5);
        margin-top: 0;
        margin-right: 10px;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// major stock
.major-wrap {
    overflow: hidden;
    padding-bottom: 50px;
}
.major-stock {
    max-width: 1200px;
    overflow: visible;
}
.major-swiper {
    display: flex;
    gap: 20px;
    .background-up {
        background: rgba($up, 0.1);
        .wts-icon {
            color: $up;
        }
    }
    .background-down {
        background: rgba($down, 0.1);
        .wts-icon {
            color: $down;
        }
    }
    a {
        display: block;
        // width: 242px;
        padding: 15px 25px;
        border-radius: 10px;
    }
    .type {
        font-size: 14px;
        font-weight: 400;
    }
    .price {
        margin-top: 5px;
        font-size: 18px;
    }
    .wts-icon {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;

        .fa-solid {
            margin-right: 5px;
        }
    }
}

// dark cont
.bg-gray {
    padding: 50px 0;
    background: #f1f1f5;
}
.bg-white {
    padding: 50px 0;
    background: #fff;
}
.bg-blue {
    padding: 150px 0;
    background: #1247b3;
    .title {
        color: $white;
    }
}
.bg-dark {
    padding: 150px 0;
    background: #1a2a57;
    .title {
        color: $white;
    }
}
.center {
    text-align: center;
}
